<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Rockets</title>
</head>

<body>
    <header>
        <h1 class="container py-4 px-5">Rockets</h1>
    </header>
    <div class="container px-5">
        <div class="row mx-n5">
            <div class="control col-4 px-5">
                <table class="w-100">
                    <tr class="text-center">
                        <th>Rocket 1</th>
                        <th>Rocket 2</th>
                    </tr>
                    <tr>
                        <td><button type="button" class="btn btn-primary w-100" id="create1">Create</button></td>
                        <td><button type="button" class="btn btn-primary w-100" id="create2" disabled>Create</button></td>
                    </tr>
                    <tr>
                        <td><button type="button" class="btn btn-primary w-100" id="accelerate1" disabled>Accelerate</button></td>
                        <td><button type="button" class="btn btn-primary w-100" id="accelerate2" disabled>Accelerate</button></td>
                    </tr>
                    <tr>
                        <td><button type="button" class="btn btn-primary w-100" id="break1" disabled>Break</button></td>
                        <td><button type="button" class="btn btn-primary w-100" id="break2" disabled>Break</button></td>
                    </tr>
                    <tr>
                        <td><button type="button" class="btn btn-primary w-100" id="showInfo1" disabled>Show info</button></td>
                        <td><button type="button" class="btn btn-primary w-100" id="showInfo2" disabled>Show info</button></td>
                    </tr>
                </table>
                <button type="button" class="btn btn-primary w-100" id="showInfoAll" disabled>Show all rockets info</button>
            </div>
            
            <div id="state" class="col-8 px-5"></div>
        </div>
    </div>

    <script src="../bundle.js"></script>
    <!--<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>-->
</body>

</html>